<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="registration.css">
    
</head>
<body background="bgimg2.jpg" style="background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-element">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">CMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Create Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/register">Edit Users</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container " >
        <h1 style="font-weight:600; ">Hello Admin</h1>
        <form name="loginForm" action="/login" style="width: 300px; margin-top: 60px; display: flex ; flex-direction: column; align-items: center; justify-content: center;">
          <a href="/createPost"><input type="button" value="Create Post"></a>
          <br>
          <a href="/editUsers"><input type="button" value="Edit Users"></a>
          <br>
          <a href="/posts"><input type="button" value="Edit Posts"></a>
          
        </form>

    </div>



    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
